Node-Red/flows.json
[
    {
        "id": "fbdc5aeae38a6415",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5bdbf04c15594bf",
        "type": "mqtt-broker",
        "name": "localbroker",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aa49f97a5a6884dc",
        "type": "MySQLdatabase",
        "name": "Ambiente",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ambiente",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d7ee8f3970d99b29",
        "type": "ui-base",
        "name": "UI-Base",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "a87e00aa85618721",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0f0eaccb5697e91f",
        "type": "ui-page",
        "name": "Cinemabarredura",
        "ui": "d7ee8f3970d99b29",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "a87e00aa85618721",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "234fe54ad600bc36",
        "type": "ui-group",
        "name": "Sensor",
        "page": "0f0eaccb5697e91f",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "21389756e5510336",
        "type": "ui-group",
        "name": "Configuración",
        "page": "0f0eaccb5697e91f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8b854a66fc363cba",
        "type": "udp in",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "cbd3027b8636199a"
            ]
        ]
    },
    {
        "id": "dfc01fdf720bf120",
        "type": "comment",
        "z": "fbdc5aeae38a6415",
        "name": "Recibir mensajes OLED",
        "info": "",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "f7545f5fc5ed5d01",
        "type": "debug",
        "z": "fbdc5aeae38a6415",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 100,
        "wires": []
    },
    {
        "id": "cbd3027b8636199a",
        "type": "json",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "cecfbefcfe9ad4eb"
            ]
        ]
    },
    {
        "id": "24ab039d12883d2d",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "capture_photo",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 160,
        "wires": [
            [
                "f7545f5fc5ed5d01",
                "456e13f584666ce9"
            ]
        ]
    },
    {
        "id": "cecfbefcfe9ad4eb",
        "type": "switch",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "capture_photo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "capture_environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "generate_drawing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "execute_drawing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "show_status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "24ab039d12883d2d"
            ],
            [
                "bc9cba9969bad616"
            ],
            [
                "b2a66ee5b1cd25c8"
            ],
            [
                "f693cd9af1221a54"
            ],
            [
                "43d70ea379b61eb7"
            ]
        ]
    },
    {
        "id": "bc9cba9969bad616",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "capture_environment",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 220,
        "wires": [
            [
                "f7545f5fc5ed5d01",
                "e6bc243e4dc22857"
            ]
        ]
    },
    {
        "id": "b2a66ee5b1cd25c8",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "generate_drawing",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 280,
        "wires": [
            [
                "f7545f5fc5ed5d01"
            ]
        ]
    },
    {
        "id": "f693cd9af1221a54",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "execute_drawing",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 340,
        "wires": [
            [
                "f7545f5fc5ed5d01"
            ]
        ]
    },
    {
        "id": "43d70ea379b61eb7",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "show_status",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "f7545f5fc5ed5d01"
            ]
        ]
    },
    {
        "id": "45cbd856808d32bf",
        "type": "debug",
        "z": "fbdc5aeae38a6415",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "b20db3363f5101dc",
        "type": "http request",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "contracam.local/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "f9bcf92008156283"
            ]
        ]
    },
    {
        "id": "72b564eb3db0739a",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "Set IMG",
        "func": "const folder = \"/home/pi/imagenes\";\n\nfunction pad(n){ return (n < 10) ? \"0\" + n : \"\" + n; }\n\nconst d = new Date();\n\n// Timestamp legible para nombre de archivo\nconst ts =\n  d.getFullYear() + \"-\" +\n  pad(d.getMonth() + 1) + \"-\" +\n  pad(d.getDate()) + \"_\" +\n  pad(d.getHours()) + \"-\" +\n  pad(d.getMinutes()) + \"-\" +\n  pad(d.getSeconds());\n\n// Guardar rutas en el mensaje\nmsg.filename = `${folder}/${ts}.jpg`;\nmsg.foto_nombre = `${ts}.jpg`;\n\n// También puedes guardar el nombre por comodidad\nglobal.set(\"foto_nombre\", msg.foto_nombre);\n\n// -----------------------\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 540,
        "wires": [
            [
                "b20db3363f5101dc"
            ]
        ]
    },
    {
        "id": "f9bcf92008156283",
        "type": "file",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "118a90ed1ccfe36e"
            ]
        ]
    },
    {
        "id": "456e13f584666ce9",
        "type": "link out",
        "z": "fbdc5aeae38a6415",
        "name": "Tomar Foto Send",
        "mode": "link",
        "links": [
            "d8cb8bfe8da0e28b"
        ],
        "x": 1175,
        "y": 160,
        "wires": []
    },
    {
        "id": "d8cb8bfe8da0e28b",
        "type": "link in",
        "z": "fbdc5aeae38a6415",
        "name": "Tomar Foto Receive",
        "links": [
            "456e13f584666ce9"
        ],
        "x": 105,
        "y": 540,
        "wires": [
            [
                "72b564eb3db0739a"
            ]
        ]
    },
    {
        "id": "8758becf0fd80834",
        "type": "comment",
        "z": "fbdc5aeae38a6415",
        "name": "Tomar Foto",
        "info": "",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "118a90ed1ccfe36e",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "Respuesta pantalla",
        "func": "flow.set(\"photo_done\", true);\n\nconst response = {\n    type: \"framework_state\",\n    photo: true,\n    photo_done: true,\n    step: \"photo\",\n    state: \"done\",\n    message: \"Foto guardada\",\n    progress: 25\n};\n\nmsg.payload = JSON.stringify(response);\n\nmsg.ip = \"127.0.0.1\";\nmsg.host = \"127.0.0.1\";\nmsg.port = 5006;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 540,
        "wires": [
            [
                "45cbd856808d32bf",
                "414875922b7d6e4e"
            ]
        ]
    },
    {
        "id": "414875922b7d6e4e",
        "type": "udp out",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "5006",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "0412030552b4690b",
        "type": "comment",
        "z": "fbdc5aeae38a6415",
        "name": "Medir Ambiente",
        "info": "",
        "x": 160,
        "y": 820,
        "wires": []
    },
    {
        "id": "e6bc243e4dc22857",
        "type": "link out",
        "z": "fbdc5aeae38a6415",
        "name": "Medir Ambiente Send",
        "mode": "link",
        "links": [
            "575e51c9d0dfc4bd"
        ],
        "x": 1175,
        "y": 220,
        "wires": []
    },
    {
        "id": "575e51c9d0dfc4bd",
        "type": "link in",
        "z": "fbdc5aeae38a6415",
        "name": "Medir Ambiente Receive",
        "links": [
            "e6bc243e4dc22857"
        ],
        "x": 95,
        "y": 880,
        "wires": [
            [
                "31956f420c1de013"
            ]
        ]
    },
    {
        "id": "31956f420c1de013",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "Solicitar lectura de ambiente",
        "func": "// Se activa cuando la OLED manda command == \"capture_environment\".\n// Manda una sola instrucción al ESP32 ambiental.\n\nconst toEsp32 = {\n    payload: JSON.stringify({\n        type: \"command\",\n        command: \"read_environment\",\n        source: \"node-red\",\n        target: \"contraenv\",\n        timestamp: new Date().toISOString()\n    }),\n\n    // Destino ESP32 ambiental\n    ip: \"contraenv.local\",\n    host: \"contraenv.local\",\n    port: 4210\n};\n\nreturn toEsp32;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 880,
        "wires": [
            [
                "c92a4cf3e53d386a"
            ]
        ]
    },
    {
        "id": "c92a4cf3e53d386a",
        "type": "udp out",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "addr": "contraenv.local",
        "iface": "",
        "port": "4210",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "8b88d180c27180ab",
        "type": "comment",
        "z": "fbdc5aeae38a6415",
        "name": "Recibir Respuesta de ambiente",
        "info": "",
        "x": 210,
        "y": 640,
        "wires": []
    },
    {
        "id": "afe179e96ce1b1c1",
        "type": "udp in",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "iface": "",
        "port": "5010",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "e38712c1cb93a298"
            ]
        ]
    },
    {
        "id": "e38712c1cb93a298",
        "type": "json",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "350768bd95b98620"
            ]
        ]
    },
    {
        "id": "350768bd95b98620",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "Procesar respuesta ambiente",
        "func": "// Recibe la respuesta final del ESP32 ambiental.\n// Entrada esperada desde UDP IN 5010 + nodo JSON.\n\nconst data = msg.payload;\n\nif (!data || typeof data !== \"object\") {\n    return null;\n}\n\nif (data.type !== \"environment\") {\n    return null;\n}\n\n// Guardamos la lectura final para usarla después en dibujo, SVG, G-code, etc.\nflow.set(\"last_environment\", data);\n\nif (data.state === \"done\" && data.stage === \"complete\") {\n    flow.set(\"environment_done\", true);\n\n    const response = {\n        type: \"framework_state\",\n\n        environment: true,\n        environment_done: true,\n\n        step: \"environment\",\n        state: \"done\",\n        message: \"Ambiente listo\",\n        progress: 50\n    };\n\n    // Conserva estado de foto si ya lo guardaste en el flow de foto.\n    if (flow.get(\"photo_done\") === true) {\n        response.photo = true;\n        response.photo_done = true;\n    }\n\n    msg.payload = JSON.stringify(response);\n\n    // Destino OLED\n    msg.ip = \"127.0.0.1\";\n    msg.host = \"127.0.0.1\";\n    msg.port = 5006;\n\n    return msg;\n}\n\n// Si el ESP32 respondió error\nif (data.state === \"error\") {\n    const response = {\n        type: \"status\",\n        step: \"environment\",\n        state: \"error\",\n        message: data.message || \"Error ambiente\",\n        progress: 25\n    };\n\n    msg.payload = JSON.stringify(response);\n\n    msg.ip = \"127.0.0.1\";\n    msg.host = \"127.0.0.1\";\n    msg.port = 5006;\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 700,
        "wires": [
            [
                "414875922b7d6e4e"
            ]
        ]
    },
    {
        "id": "1869b254419d0875",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "3.0.0",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]