Node-Red/flows.json
[
    {
        "id": "fbdc5aeae38a6415",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b854a66fc363cba",
        "type": "udp in",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "cbd3027b8636199a"
            ]
        ]
    },
    {
        "id": "dfc01fdf720bf120",
        "type": "comment",
        "z": "fbdc5aeae38a6415",
        "name": "Recibir mensajes OLED",
        "info": "",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "f7545f5fc5ed5d01",
        "type": "debug",
        "z": "fbdc5aeae38a6415",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 400,
        "wires": []
    },
    {
        "id": "cbd3027b8636199a",
        "type": "json",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "cecfbefcfe9ad4eb"
            ]
        ]
    },
    {
        "id": "24ab039d12883d2d",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "capture_photo",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 160,
        "wires": [
            [
                "f7545f5fc5ed5d01",
                "456e13f584666ce9"
            ]
        ]
    },
    {
        "id": "cecfbefcfe9ad4eb",
        "type": "switch",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "capture_photo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "capture_environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "generate_drawing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "execute_drawing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "show_status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "24ab039d12883d2d"
            ],
            [
                "bc9cba9969bad616"
            ],
            [
                "b2a66ee5b1cd25c8"
            ],
            [
                "f693cd9af1221a54"
            ],
            [
                "43d70ea379b61eb7"
            ]
        ]
    },
    {
        "id": "bc9cba9969bad616",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "capture_environment",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 220,
        "wires": [
            [
                "f7545f5fc5ed5d01"
            ]
        ]
    },
    {
        "id": "b2a66ee5b1cd25c8",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "generate_drawing",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 280,
        "wires": [
            [
                "f7545f5fc5ed5d01"
            ]
        ]
    },
    {
        "id": "f693cd9af1221a54",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "execute_drawing",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 340,
        "wires": [
            [
                "f7545f5fc5ed5d01"
            ]
        ]
    },
    {
        "id": "43d70ea379b61eb7",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "show_status",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "f7545f5fc5ed5d01"
            ]
        ]
    },
    {
        "id": "45cbd856808d32bf",
        "type": "debug",
        "z": "fbdc5aeae38a6415",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "b20db3363f5101dc",
        "type": "http request",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "contracam.local/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "f9bcf92008156283"
            ]
        ]
    },
    {
        "id": "72b564eb3db0739a",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "Set IMG",
        "func": "const folder = \"/home/pi/imagenes\";\n\nfunction pad(n){ return (n < 10) ? \"0\" + n : \"\" + n; }\n\nconst d = new Date();\n\n// Timestamp legible para nombre de archivo\nconst ts =\n  d.getFullYear() + \"-\" +\n  pad(d.getMonth() + 1) + \"-\" +\n  pad(d.getDate()) + \"_\" +\n  pad(d.getHours()) + \"-\" +\n  pad(d.getMinutes()) + \"-\" +\n  pad(d.getSeconds());\n\n// Guardar rutas en el mensaje\nmsg.filename = `${folder}/${ts}.jpg`;\nmsg.foto_nombre = `${ts}.jpg`;\n\n// También puedes guardar el nombre por comodidad\nglobal.set(\"foto_nombre\", msg.foto_nombre);\n\n// -----------------------\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 540,
        "wires": [
            [
                "b20db3363f5101dc"
            ]
        ]
    },
    {
        "id": "f9bcf92008156283",
        "type": "file",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "118a90ed1ccfe36e"
            ]
        ]
    },
    {
        "id": "456e13f584666ce9",
        "type": "link out",
        "z": "fbdc5aeae38a6415",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d8cb8bfe8da0e28b"
        ],
        "x": 1175,
        "y": 160,
        "wires": []
    },
    {
        "id": "d8cb8bfe8da0e28b",
        "type": "link in",
        "z": "fbdc5aeae38a6415",
        "name": "link in 1",
        "links": [
            "456e13f584666ce9"
        ],
        "x": 105,
        "y": 540,
        "wires": [
            [
                "72b564eb3db0739a"
            ]
        ]
    },
    {
        "id": "8758becf0fd80834",
        "type": "comment",
        "z": "fbdc5aeae38a6415",
        "name": "Tomar Foto",
        "info": "",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "118a90ed1ccfe36e",
        "type": "function",
        "z": "fbdc5aeae38a6415",
        "name": "Respuesta pantalla",
        "func": "const response = {\n    type: \"framework_state\",\n    photo: true,\n    photo_done: true,\n    step: \"photo\",\n    state: \"done\",\n    message: \"Foto guardada\",\n    progress: 100\n};\n\nif (msg.filename) {\n    response.file = msg.filename;\n}\n\nmsg.payload = JSON.stringify(response);\n\n// Por si el nodo UDP out usa destino dinámico.\nmsg.ip = \"127.0.0.1\";\nmsg.host = \"127.0.0.1\";\nmsg.port = 5006;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 540,
        "wires": [
            [
                "45cbd856808d32bf",
                "414875922b7d6e4e"
            ]
        ]
    },
    {
        "id": "414875922b7d6e4e",
        "type": "udp out",
        "z": "fbdc5aeae38a6415",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "5006",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1250,
        "y": 540,
        "wires": []
    }
]